@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!-- Style for GUI -->
<style>
    .messaging-frame {
        width: 800px;
        height: 400px;
        border: 1px solid #ccc;
        overflow-y: scroll; /* Enable vertical scrollbar */
        padding: 10px;
    }

    .message {
        margin-bottom: 10px;
        display: none;
    }

    .user-input {
        width: calc(100% - 20px); /* Width - left and right padding */
        padding: 5px;
        border: 1px solid #ccc;
        margin-top: 10px;
    }

    .send-button {
        margin-top: 10px;
        padding: 5px 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        cursor: pointer;
    }

</style>
<html>
<body>
    <div class="text-center">
        <h1 class="display-4">Message Sender</h1>
        <p>Use this webpage to deliver messages to the server</p>

        <!-- Input fields for sender ID and receiver ID -->
        <div class="input-group mb-3">
            <span class="input-group-text">Receiver ID</span>
            <input type="text" class="user-input" id="receiverID" placeholder="Enter receiver ID">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Sender ID</span>
            <input type="text" class="user-input" id="senderID" placeholder="Enter sender ID">
        </div>

        <div class="messaging-frame">
            <div class="message" id="firstMsg">Previous Message 1</div>
            <div class="message" id="secondMsg">Previous Message 2</div>
            <div class="message" id="thirdMsg">Previous Message 3</div>
            <!-- Add more previous messages here -->
        </div>
        <input type="text" id="textMsg" class="user-input" placeholder="Type your message...">
        <button class="send-button" onclick="updateMsg()">Send to Buffer</button>
    </div>
</body>
</html>
<script>
    // Function used to call the SendMsg Restful service 
    function updateMsg() {
        var receiverID = document.getElementById("receiverID").value;
        var senderID = document.getElementById("senderID").value;
        var message = document.getElementById("textMsg").value;

        // Construct the URL for the service endpoint
        var url = `http://localhost:53062/Service1.svc/sendMsg?message=${message}&recvID=${receiverID}&sendID=${senderID}`;

        // Make an HTTP GET request to the service endpoint
        fetch(url)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();
            })
            .then(data => {
                // Handle the response if needed
                console.log('Message sent successfully:', data);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
    }

    

</script>